<div class="iso-section">
  <ul class="filter-wrapper clearfix">
    @for (filter of filters; track filter.value) {
      <li>
        <a
          href="javascript:void(0)"
          class="opc-main-bg"
          [class.selected]="activeFilter() === filter.value"
          (click)="setFilter(filter.value)"
        >
          {{ filter.label }}
        </a>
      </li>
    }
  </ul>

  <div class="iso-box-section">
    <div class="iso-box-wrapper col4-iso-box">
      @for (item of visibleItems(); track item.id) {
        <div class="iso-box col-md-3 col-sm-3 col-xs-12">
          <div class="portfolio-thumb" type="button" (click)="openProject(item.id)">
            <img [src]="item.thumb" class="fluid-img" [alt]="item.title" />
            <div class="portfolio-overlay">
              <h3 class="portfolio-item-title">{{ item.title }}</h3>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
