<section id="social" class="tm-social">
  <div class="container">
    <div class="row">
      @for (link of links; track link.cssClass) {
        <div class="col-md-4 col-sm-4">
          <div class="media" [class]="link.cssClass">
            <a [href]="link.href">
              <div class="media-object pull-left social-icon">
                <i [class]="link.icon"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading tm-social-title">{{ link.eyebrow }}</h4>
                <h3>{{ link.title }}</h3>
              </div>
            </a>
          </div>
        </div>
      }
    </div>
  </div>
</section>

