<section id="home" class="templatemo-home">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-1"></div>
      <div class="col-md-12 col-sm-12">
        <div class="name-contant">
          <div class="overlay"></div>
          <h1 class="tm-home-title"appScrollReveal="fade-up"><strong>Srinivasan G</strong></h1>
          <h2 class="tm-home-subtitle google-gradient">UI/UX Designer &amp; UI Developer</h2>
          <p>
            I am a professional <strong>UX Designer</strong> and <strong>UI Developer</strong> creating
            modern and responsive designs for <strong>Web</strong><br />
            and <strong>Mobile</strong>. Let us work together. Thank you.
          </p>
          <div class="btn-grp">
            <a href="../../../assets/images/resume/Srinivasan_G_UIUX_Designer.pdf" download="Srinivasan_G_UIUX_Designer_Resume.pdf"
              class="btn btn-primary mr-2">
              <i class="fa-solid fa-download"></i>
              Download Resume
            </a>
            <a href="javascript:void(0)" class="btn btn-default smoothScroll tm-view-more-btn" (click)="goToWork()">Let's Begin<i class="fa-solid fa-angles-down"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-1"></div>
    </div>
  </div>
</section>
