<app-home-section></app-home-section>

<app-work-section></app-work-section>

<section id="portfolio" class="tm-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-5">
        <div class="title">
          <h2 class="tm-portfolio-title"appScrollReveal="fade-up">My <strong class="second-word">Portfolio</strong></h2>
        </div>
        <!-- <app-portfolio-grid></app-portfolio-grid> -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-portfolio-carousel></app-portfolio-carousel>
      </div>
      
    </div>
  </div>
</section>

<app-resume-section></app-resume-section>

<app-about-section></app-about-section>

<app-social-section></app-social-section>

<app-contact-section></app-contact-section>
